@font-face {
    font-family: 'Jeko';
    src: url('https://static.mypaydo.shop/media/zahi_diffuser_544/Jeko-Bold.woff2') format('woff2'),
        url('https://static.mypaydo.shop/media/zahi_diffuser_544/Jeko-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jeko';
    src: url('https://static.mypaydo.shop/media/zahi_diffuser_544/Jeko-Regular.woff2') format('woff2'),
        url('https://static.mypaydo.shop/media/zahi_diffuser_544/Jeko-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
  --ion-font-family:'Jeko', sans-serif;
}
body {
	color:#5e5e5e;
	font-weight:400;
	font-family: 'Jeko',Monospace;
	
	}
 .Submit{
	justify-content: end;
	text-align: right;
 }

.nav-item::after{
    content:'';
    display:block;
    width:0px;
    height:3px;
    background:#ff0000 !important;
    transition: 0.2s;
    margin-top:-5px;
}




.nav-link{padding:15px 5px;transition:0.2s; }

.navbar-nav .nav-link {
 
    color:#000;
    font-weight:bold;
    font-size:18px;
    
}
.navbar-nav >li{
	text-transform: uppercase;
	padding-left: 10px;

}
.navbar-nav >li >a{
	font-size: 13px !important;
	font-weight: bold;
 
}

.navbar-nav .active > .nav-link{
  
    width:100%;
    height:40px;
    
  border-bottom: .15rem solid transparent;
  border-bottom-color: #333333;
   letter-spacing: 3px;
}
 #inputAddress  {
    width: 100%;
   
    border: none !important;
    border-bottom: 1px solid #ebebeb !important;
    padding: 5px 0;
    color: #222;
    margin-bottom: 31px;
    font-family: 'Roboto Slab';
	outline: none !important;
box-shadow: none !important;
}

.body__logo{
	justify-content: center;
	
}
.has-search .form-control {
    padding-left: 2.375rem !important;
	border-radius: 25px !important;
}
.searchbar{
	justify-content: end !important;
}
.has-search .form-control-feedback {
    position: absolute !important;
    z-index: 2;
    
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: rgb(145, 143, 143);

}
.breadcrumb-item + .breadcrumb-item::before {
	content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+) !important;
 }
 .breadcrumb{
	background-color: #ffffff;
 }
.ionicon, svg {
    display: block;
    height: 100%;
    width: 100%;
}
.last-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 15px;
    margin-top: 25px;
}
