{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container">
 
    <div role= "navigation" aria-label="breadcrumb">
        <ul class="breadcrumb"> 
           <li class="breadcrumb-item"><a href="#">Tutorials</a></li>
           <li class="breadcrumb-item"><a href="#">Frontend</a></li>
           <li class="breadcrumb-item active" aria-current="page">Bootstrap</li>
        </ul>
     </div>
     <form>
        <div class="row row-cols-1 row-cols-sm-2">
          <div class="col ">
            <label>First name</label>
            <input type="text" id="inputAddress" class="form-control" >
          </div>
          <div class="col ">
            <label>last name</label>
            <input type="text" id="inputAddress" class="form-control" >
          </div> 
        
        </div>
        <div class="row">
            <div class="col">
              <label>First name</label>
              <input type="text"  id="inputAddress"class="form-control" >
            </div>
            <div class="col">
              <label>last name</label>
              <input type="text" id="inputAddress" class="form-control" >
            </div> 
          
          </div>
         <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
          <div class="form-group">
            <label >Massage</label>
            <textarea class="form-control" id="inputAddress" rows="3"></textarea>
          </div>
          <div class="Submit">
              <button type="button" class="btn btn-secondary ">Submit</button>
          </div>
        
      </form>
      <div class="container">
  
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Google Map here</h2>
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d55627.083605837535!2d47.993255!3d29.379285000000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1b4ec5c4fcf38287!2sZAHI!5e0!3m2!1sen!2sus!4v1661467617981!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
          </div>
          
        </div>
        
        <p>
              <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fbootsnipp.com%2Fiframe%2Fb2BWe" class="pull-right" target="_blank">
                  <small>HTML</small><sup>5</sup>
              </a>
              </p>
          
      </div>
</section>{% endblock %}