<footer >
    <div class="p-5">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
        
  
            <div class="col">
                <div class="nav-foot-cont">
                    <h3 class="footer-head fixall nav-foot-head" style="text-align: left;"><span style="color:#000000; letter-spacing:4px;">MORE</span></h3>
                    
                    <ul class="foot-nav fiall list-unstyled">
                        <li class="foot-li" style="text-align: left;"><a class="foot-a fixall" href="/home"><span style="color:#000000; letter-spacing:4px;">HOME</span></a></li>
                        <li class="foot-li" style="text-align: left;"><a class="foot-a fixall" href="/shop"><span style="color:#000000; letter-spacing:4px;">PRODUCTS</span></a></li>
                        <li class="foot-li" style="text-align: left;"><a class="foot-a fixall" href="/support"><span style="color:#000000; letter-spacing:4px;">CONTACT</span></a></li>
                        <li class="foot-li" style="text-align: left;"><a class="foot-a fixall" href="/about-us"><span style="color:#000000; letter-spacing:4px;">ABOUT</span></a></li>
                        <li class="foot-li" style="text-align: left;"><a class="foot-a fixall" href="/track"><span style="color:#000000; letter-spacing:4px;">TRACK ORDER</span></a></li>
                    </ul>
                    </div>
              </div>
  
          <div class="col">
            <div class="nav-foot-cont">
                <h3 class="footer-head fixall nav-foot-head"><span style="color:#000000;letter-spacing:4px">ABOUT US</span></h3>
                
                <p><span style="color:#000000;">There is nothing more refreshing than walking into a blooming space that lifts your spirit and transports you into a peaceful and zen space. ZAHI wants you to spend more time indoors than ever before.<br>
                <br>
                Relax, unwind, and enjoy the ZAHI scent.</span></p>
                </div>
          </div>
          <div class="col">
            <div class="social-cont">
                <div class="socials"> <i class="fa fa-instagram" aria-hidden="true"></i><a href="https://www.instagram.com/stayzahi/"><ion-icon name="logo-instagram" aria-label="logo instagram" role="img" class="md hydrated"></ion-icon></a>&nbsp;&nbsp;<strong><a href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d27814.508135230586!2d47.98479!3d29.375749000000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe1e6aae9ba76425a!2sZahi!5e0!3m2!1sen!2sus!4v1637489076769!5m2!1sen!2sus"><img alt="map" src="https://static.mypaydo.shop/media/zahi_diffuser_544/1824bb0a-0def-4de4-b37f-a3d74d59ef25.png" style="width: 20px; height: 20px; font-weight: bolder;"></a></strong></div>
               <div class="icon-inner"> </div>
               
          </div>
         
      </div>
      
</footer><div class="last-footer">
        <div class="copyright" style="text-align: center;">
        <h3 class="footer-head fixall nav-foot-head" style="text-align: left;">&nbsp;</h3>
        </div>
        
        <div class="copyright" style="text-align: center;"><span style="color:#000000;">© 2021. All rights reserved.</span></div>
        
        <div class="pay" style="text-align: center;"><span style="color:#000000;"><img class="img-responsive" src="https://static.mypaydo.shop/media/zahi_diffuser_544/a7441f59-92ea-40ac-b7fb-710334f324e8.jpeg" style="height: 60px;"></span></div>
        </div>
    <!-- Header Section End -->
 