{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
           
               
  <div class="d-block mx-auto mb-4">
     <a href="./index.html"><img src="{% static 'img/logo.png' %}"width="7%" alt=""></a>
  </div>
         



 </div>
    <section class="img-text-container text-center">
            <img src="{% static 'img/hero.jpeg' %}" width="100%"   height="100%" alt="">
             <p style="font-size: 18px; color: #000000; text-align: center;"><strong><span style="font-size:24px;">/dɛfɪˈnɪʃ(ə)n/:<br>
            <div style="margin:auto auto;" class="inner" >
       
        <br>
        <span style="letter-spacing:2px;text-transform:uppercase">Bright and glowing.<br>
        Artisan diffusers and candles shop based in Kuwait.</span></span></strong></p>
        </div>
        
        <p style="text-align: center;"><span style="color:#000000; letter-spacing:3px;"><span style="line-height:115%"><b><span style="font-size: 24px;"><span style="line-height:115%">FEATURED COLLECTION</span></span></b></span></span></p>
    </section>
 
  <section class="container-fluid">
     <div class="p-2">

        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4">
       
          <div class="col">
            <div>
              <img  loading="eager" class="slider-container ng-tns-c210-3 ng-star-inserted" width="100%"
            src="https://cdn.mypaydo.com/600x600/filters:format(webp)/media/312/products/25412/Fame-100.JPG">
            <div class="text-center">
               <p >  DIFFUSER REFILL  </p>
            <span>STARTING FROM 14.000 KWD</span>
            </div>
           
            </div>
            </div>
            <div class="col">
              <div>
                <img  loading="eager" class="slider-container ng-tns-c210-3 ng-star-inserted" width="100%"
              src="https://cdn.mypaydo.com/600x600/filters:format(webp)/media/312/products/25412/Fame-100.JPG">
              <div class="text-center">
                 <p >  DIFFUSER REFILL  </p>
              <span>STARTING FROM 14.000 KWD</span>
              </div>
             
              </div>
              </div>
                <div class="col">
                  <div>
                    <img  loading="eager" class="slider-container ng-tns-c210-3 ng-star-inserted" width="100%"
                  src="https://cdn.mypaydo.com/600x600/filters:format(webp)/media/312/products/25412/Fame-100.JPG">
                  <div class="text-center">
                     <p >  DIFFUSER REFILL  </p>
                  <span>STARTING FROM 14.000 KWD</span>
                  </div>
                 
                  </div>
                  </div>
                  <div class="col">
                    <div>
                      <img  loading="eager" class="slider-container ng-tns-c210-3 ng-star-inserted" width="100%"
                    src="https://cdn.mypaydo.com/600x600/filters:format(webp)/media/312/products/25412/Fame-100.JPG">
                    <div class="text-center">
                       <p >  DIFFUSER REFILL  </p>
                    <span>STARTING FROM 14.000 KWD</span>
                    </div>
                   
                    </div>
                    </div>
              
        </div>
      </div> 
  </section>
    <section>

      <p class="pt-5 pb-5" style="color: rgb(23, 66, 58);  text-align: center;"><span style="color:#000000;"><span style="font-size:18px; padding-left: 10px;
        padding-right: 10px;"><b>Nothing uplifts your home interior as a stylish and iconic bottle with an inspirational fragrances..</b></span></span></p>
  
  <p style="color: rgb(23, 66, 58);  text-align: center;">
    
   
    <span style="color:#000000;"><span style="font-size:18px;"><b><img alt="" src="https://static.mypaydo.shop/media/zahi_diffuser_544/2d0a7437-8733-4ab0-b64c-33fc9e3f7bfb.jpeg" style="width: 549px; height: 366px;">​​​​​​​</b></span></span></p>
</section>
{% endblock %}