{% load static %}
<section>
    <div class="navbarsection">
        <nav class="navbar navbar-expand-lg navbar-light bg-light  fixed-top">
    <div class="row  ">
           <div class="col-3 ">
                <a href="/cart" class="d-flex p-3">
                
                          <img width="30%" height="50%" src="{% static 'img/icon/bag.svg' %}" />
              
                  
                   
                    <span class=" text-sm m-2 badge badge-dark rounded-circle notify"><small>{{cart_count}}</small></span></a>
                 
                          
               
                  
               
           </div>
    
          <div class="collapse navbar-collapse col-8" id="navbarNavAltMarkup" >
      <div class="navbar-nav">
    
            <li 
            {% if '/' == request.path %} class="nav-item active"
                                    {% else %} class=""
                                    {% endif %}
            
            
            > <a class="nav-link" href="/"> 
                Home</a> </li>
        
        
            
                  <li 
                  {% if '/products/' == request.path %} class="nav-item active"
                                          {% else %} class=""
                                          {% endif %}
                  > <a class="nav-link" href="/products">
                      
                        products</a> </li>
            <li 
            {% if '/about' == request.path %} class="nav-item active"
                                    {% else %} class=""
                                    {% endif %}
            > <a class="nav-link" href="/about">
                
                  about</a> </li>
           
                        <li 
                        {% if '/contact' == request.path %} class="nav-item active"
                                                {% else %} class=""
                                                {% endif %}
                        > <a class="nav-link" href="/contact">
                            
                              contact</a> </li>
             
      </div>
    </div>   
    </div>

   
    
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <span class="border-bottom"></span> 
  </nav>    
    </div>

<hr>
</section>

     <hr>
        

          

  



