{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container text-center">
           
               
  <div class="d-block mx-auto mb-4">

     <a href="./index.html"><img src="{% static 'img/logo.png' %}"width="7%" alt=""></a>
  </div>
         



 </div>
<div class="container mt-2 mb-3">
    <div role= "navigation" aria-label="breadcrumb">
     
    <ul class="breadcrumb"> 
      <button type="button" class="btn btn-sm btn-outline-dark rounded-pill pl-4 pr-4"><i class="fa fa-arrow-left"></i></button>  
       <li class="breadcrumb-item pl-2"><a href="#">Tutorials</a></li>
       <li class="breadcrumb-item"><a href="#">Frontend</a></li>
       <li class="breadcrumb-item active" aria-current="page">Bootstrap</li>
    </ul>
 </div>
    <div class="row no-gutters">
        <div class="col-md-4 mr-2">
            <div >
                <div class="demo">
                    <div
                
                    class="swiper mySwiper2"
                  >
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img  src="{{ single_product.images.url }}">
                      </div>
                      <div class="swiper-slide">
                        <img  src="{{ single_product.images1.url }}">
                      </div>
                      <div class="swiper-slide">
                        <img  src="{{ single_product.images2.url }}">
                      </div>
                      <div class="swiper-slide">
                        <img  src="{{ single_product.images3.url }}">
                    </div>
                    
                    </div>
             
                  </div>
                  <div thumbsSlider="" class="swiper mySwiper">

                  <div>
                              
       <div class="swiper-button-next ">
                        <img height="40%" class="pr-5" src="{% static 'img/icon/right-arrow.svg' %}"  />
                       </div>
                    <div class="swiper-button-prev">

                      <img height="40%"  src="{% static 'img/icon/right-arrow.svg' %}" />
          </div> 
                  </div>
       
            
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img  src="{{ single_product.images.url }}">
                      </div>
                      <div class="swiper-slide">
                        <img  src="{{ single_product.images1.url }}">
                      </div>
                      <div class="swiper-slide">
                        <img  src="{{ single_product.images2.url }}">
                      </div>
                      <div class="swiper-slide">
                        <img  src="{{ single_product.images3.url }}">
                    </div>
                    </div>
           
        
                 

                  </div>
                </div>
            </div>
    
        </div>
        <div class="col-md-7 pl-2">
          <form action="{% url 'add_cart' single_product.id %}" method="POST">
						{% csrf_token %}
                <div class="d-flex flex-row align-items-center">
                  <span class="font-weight-bold">
                    <h5>{{ single_product.product_name }}</h5> 
                  </span></div>

                  <span ><h6>WALK OF FAME</h6> </span>
               
                <div class="about"> 
                    <h6 class="font-weight-sm">{{single_product.price}}</h6>
                </div>
                <div class="buttons"> 
                   <hr>
              
          
                <div class="form-group col-md-4 mr-6">
                  <label for="inputState">Size</label>
                  <select id="inputState" class="form-control">
                    {% for i in single_product.variation_set.sizes %}
										<option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}ML</option>
										{% endfor %}
                  </select>
                </div>
                
                
                <button class="btn btn-outline-dark btn-long cart"><b>Add to Cart</b></button> <button
                        class="btn btn-warning btn-long buy">Buy it Now</button> <button class="btn btn-light wishlist">
                        <i class="fa fa-heart"></i> </button>
           
               <hr>
                <div class="product-description">
                   
                 
                    <div class="pt-4"> <p style="color: black; font-size: small;">
                      {{ single_product.description }}</p>
                       
                
                    </div>
          
       
                </div>
            </div>
  </form>
        </div>
    </div>
</div>
{% endblock %}